<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="more-switch.html">

<!--
`template-switch` is like `more-switch` except it stamps templates on demand.

This can be useful if you want to ensure that elements aren't hanging around,
but be aware that templates aren't cheap.

## Example:

    <template-switch>
      <template when="{{foo == 1}}">One!</template>
      <template when="{{foo == 2}}">Two!</template>
      <template else>Default</template>
    </template-switch>

-->
<polymer-element name="template-switch" extends="more-switch">
  <script>
    Polymer('template-switch', {

      /** @override */
      activateChild: function(child, index, external) {
        if (this._activeContent) {
          this._activeContent.remove();
        }
        var template = this.children[index];
        if (!template) return;

        var model    = this.modelForChild(template, index);
        var fragment = template.createInstance(model, this.bindingDelegate);

        this._activeContent = document.createElement('div');
        this._activeContent.appendChild(fragment);
        this.appendChild(this._activeContent);
      },

      /**
       * @method modelForChild
       * @protected
       * @param {!HTMLElement} child The child element.
       * @param {number}       index The index of the child.
       * @return {!Object} The object to use as a template model.
       */
      modelForChild: function(child, index) {
        return this.templateInstance && this.templateInstance.model || {};
      },

    });
  </script>
</polymer-element>
