{
  "extends": ["eslint:recommended", "google"],
  "env": {
    "node": true,
    "es2021": true
  },
  "type": "module",
  "rules": {
    "no-var": 2,
    "require-jsdoc": 0,
    "no-console": 0,
  }
}
