{
	"extends": ["eslint:recommended"],
	"parserOptions": {
		"sourceType": "module"
	},
	"env": {
		"node": true,
		"es2021": true
	},
	"rules": {
    "indent": ["error", "tab"],
		"no-tabs": "off"
	}
}
