<footer class="c-footer">
  <p class="c-footer--made-by">Made with ❤️ by <a href="https://www.gaunt.dev">Matt Gaunt-Seo</a> &amp; <a href="https://github.com/gauntface/simple-push-demo/graphs/contributors">friends</a></p>
  <ul class="c-footer--links">
    <li>
      <a href="https://www.buymeacoffee.com/gauntface" target="_blank" rel="noreferrer">Support this project</a>
    </li>
    <li>
      <a href="https://github.com/gauntface/simple-push-demo/issues/new" target="_blank" rel="noreferrer">Found a bug?</a>
    </li>
    <li>
      <a href="https://github.com/gauntface/simple-push-demo/issues/new" target="_blank" rel="noreferrer">Feedback</a>
    </li>
    </ul>
</footer>