/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  min-height: 100%;
}

main {
  max-width: 480px;
  min-width: 64px;
  width: 100%;

  padding: 32px;
  margin: 0 auto;

  box-sizing: border-box;
}

.error-title {
	font-size: 28px;
	margin-bottom: 4px;
}

.curl-code-example {
  display: block;

  width: 100%;

  word-break: break-all;

  padding: 16px;
  box-sizing: border-box;

  background-color: #eeeeee;
  color: #222222;
}

.center {
  text-align: center;
}

.content-overlap-wrapper {
  flex: 1;
}

.send-push-options {
  margin-top: 32px;

  opacity: 0;

  transition:opacity 0.5s;
}

.error-message-container {
  opacity: 0;

  transition:opacity 0.5s;
}

.mdl-switch {
  width: auto;

  span {
    position: initial;
    left: 0;

    margin-left: 24px;
  }
}

.push-switch-container {
  text-align: center;
}
