<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="more-route.html">

<!--
TODO(nevir): Document.
-->
<polymer-element name="more-route-selector">
  <script>
    Polymer('more-route-selector', {
      /**
       * @event more-route-change fires when a new route is selected.
       * @param {{
       *   newRoute:  MoreRouting.Route, oldRoute: MoreRouting.Route,
       *   newIndex:  number,  oldIndex:  number,
       *   newPath:   ?string, oldPath:   ?string,
       *   newParams: Object,  oldParams: Object,
       * }}
       */

      publish: {
        /**
         * Routes to select from, as either a path expression or route name.
         *
         * You can either specify routes via this attribute, or as child nodes
         * to this element, but not both.
         *
         * @attribute routes
         * @type Array.<string>
         */
        routes: [],

        /**
         * Whether more than one route can be selected at a time. If not, the
         * _first_ active route will be selected.
         *
         * @attribute multi
         * @type boolean
         * @default false
         */
        multi: false,

        /**
         * The index of the selected route (relative to `routes`). -1 when there
         * is no active route.
         *
         * @attribute selectedIndex
         * @type integer
         * @readonly
         */
        selectedIndex: -1,

        /**
         * The selected `MoreRouting.Route` object, or `null`.
         *
         * @attribute selectedRoute
         * @type MoreRouting.Route
         * @readonly
         */
        selectedRoute: null,

        /**
         * The path expression of the selected route, or `null` if no route.
         *
         * @attribute selectedPath
         * @type ?string
         * @readonly
         */
        selectedPath: null,

        /**
         * The params of the selected route, or an empty object if no route.
         *
         * @attribute selectedParams
         * @type Object
         * @readonly
         */
        selectedParams: {},
      },

      /** @override */
      ready: function() {
        if (this.routes.length > 0 && this.children.length > 0) {
          // We don't want to deal with ordering confusion.
          throw new Error('more-route-selector supports either routes="..." or child elements, not both');
        }
      },

      /** @override */
      attached: function() {
        this.parent = this._findParent();
        this.async(function() {
          this._buildRoutes();
          this._observeRoutes();
          this.evaluate();
        });
      },

      /**
       * TODO(nevir): Document
       */
      evaluate: function() {
        var newIndex = -1;
        var oldIndex = this.selectedIndex;

        for (var i = 0, route; route = this._routeRefs[i]; i++) {
          if (route.active) {
            newIndex = i;
            break;
          }
        }
        if (newIndex === oldIndex) return;

        var oldRoute  = this.selectedRoute;
        var oldPath   = this.selectedPath;
        var oldParams = this.selectedParams;

        var newRoute  = this._routeRefs[newIndex];
        var newPath   = newRoute ? newRoute.path   : null;
        var newParams = newRoute ? newRoute.params : {};

        this.selectedRoute  = newRoute;
        this.selectedIndex  = newIndex;
        this.selectedPath   = newPath;
        this.selectedParams = newParams;

        this.fire('more-route-change', {
          newRoute:  newRoute,  oldRoute:  oldRoute,
          newIndex:  newIndex,  oldIndex:  oldIndex,
          newPath:   newPath,   oldPath:   oldPath,
          newParams: newParams, oldParams: oldParams,
        });
      },

      /**
       * We attach values of `routes` as `more-route` child elements so that we
       * can ensure that we're adopting proper behavior for nesting/etc.
       */
      _buildRoutes: function() {
        if (this.routes.length > 0) {
          this._routeRefs = this._routesFromAttributes();
        } else {
          this._routeRefs = this._routesFromChildren();
        }
      },

      /** Return `Route` objects the routes defined by `routes`. */
      _routesFromAttributes: function() {
        var parentPath = this.parent && this.parent.path || '';
        return this.routes.map(function(route) {
          if (MoreRouting.isPath(route)) {
            return MoreRouting.getRouteByPath(parentPath + route);
          } else {
            return MoreRouting.getRouteByName(route);
          }
        });
      },

      /** Return `Route` objects declared by child `more-route`s. */
      _routesFromChildren: function() {
        var result = [];
        for (var i = 0, child; child = this.children[i]; i++) {
          result.push(child.route);
        }
        return result;
      },

      /**
       * Tracks changes to the routes.
       *
       * TODO(nevir): Consider having a global 'route-changed' event so we're
       * just observing one object (MoreRouting.driver.currentPathParts?).
       */
      _observeRoutes: function() {
        if (this._observer) {
          this._observer.close();
        }
        this._observer = new CompoundObserver();
        for (var i = 0, route; route = this._routeRefs[i]; i++) {
          this._observer.addPath(route, 'active');
        }
        this._observer.open(this.evaluate.bind(this));
      },

      /** TODO(nevir): Break out into a shared helper/mixin */
      _findParent: function() {
        var node = this;
        while (node) {
          node = node.parentNode || node.host;
          var route = node && node.moreRouteContext || node;
          if (route instanceof this.constructor && route !== this) {
            return route;
          }
        }
        return null;
      },
    });
  </script>
</polymer-element>
